<section data-ng-controller="RestaurantsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Restaurants</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="restaurant in restaurants" data-ng-href="#!/restaurants/{{restaurant._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="restaurant.created | date:'medium'"></span>
				by
				<span data-ng-bind="restaurant.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="restaurant.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!restaurants.$resolved || restaurants.length">
    	No Restaurants yet, why don't you <a href="/#!/restaurants/create">create one</a>?
    </div>
</section>