<section class="container">
    <section class="container">
        <section data-ng-controller="RestaurantsController" data-ng-init="findOne()">
            <div class="page-header">
                <h1 data-ng-bind="restaurant.BUSINESS_NAME"></h1>
            </div>
            <p>{{restaurant.DESCRIPTION}}</p>
            <p>{{restaurant.ADDR}}</p>
            <p>{{restaurant.CITY}}</p>
            <p>{{restaurant.TELEPHONE}}</p>
            <p>{{restaurant.OPEN_DATE}}</p>

            <div ng-repeat="inspection in restaurant.inspection">
                Inspection {{$index}}
                <div ng-repeat="infraction in inspection.infraction">
                    - Infraction {{$index}} <br />
                    {{infraction}}
                </div>
            </div>
            <small>
                <em class="text-muted">
                    Posted on
                    <span data-ng-bind="restaurant.created | date:'mediumDate'"></span>
                    by
                    <span data-ng-bind="restaurant.user.displayName"></span>
                </em>
            </small>
        </section>
    </section>
</section>
