<section class="container">
    <section class="container">
        <section data-ng-controller="RestaurantsController" data-ng-init="findOne()">
            <div class="page-header">
                <h1 data-ng-bind="restaurant.BUSINESS_NAME"></h1>
            </div>
            <p>{{restaurant.DESCRIPTION}}</p>
            <address>
              <strong>{{restaurant.ADDR}}</strong><br>
              {{restaurant.CITY}}<br>
              <abbr title="Phone">P:</abbr> {{restaurant.TELEPHONE}} <br>
              <abbr title="Open on">Open:</abbr> {{restaurant.OPEN_DATE}}
            </address>

            <h3>Inspection results</h3>
            <div ng-repeat="inspection in restaurant.inspection | orderBy:predicate:reverse">
                <h4 class="alert alert-info">{{inspection.INSPECTION_TYPE}} {{$index+1}} on {{inspection.INSPECTION_DATE}}</h4>
                <h5><span class="label label-default">Charges:</span> {{inspection.infraction[0].ChargeDetails}}</h5>
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Type</th>
                      <th>Code</th>
                      <th>Description</th>
                    </tr>
                  </thead>

                <tr ng-repeat="infraction in inspection.infraction" ng-class="{'danger': infraction.INFRACTION_TYPE=='CRITICAL'}">
                  <td>{{$index+1}}</td>
                  <td>{{infraction.InspectionDate}}</td>
                  <td><span class="label" ng-class="{'label-info': infraction.INFRACTION_TYPE!='CRITICAL','label-danger': infraction.INFRACTION_TYPE=='CRITICAL'}">{{infraction.INFRACTION_TYPE}}</span></td>
                  <td>{{infraction.category_code}}</td>
                  <td>{{infraction.Description1}}</td>
                </tr>


                </table>
            </div>
            <small>
                <em class="text-muted">
                    Posted on
                    <span data-ng-bind="restaurant.created | date:'mediumDate'"></span>
                    by
                    <span data-ng-bind="restaurant.user.displayName"></span>
                </em>
            </small>
        </section>
    </section>
</section>
